
*.map

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/release/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/flash_release/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/flash_debug/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/debug/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/ddr_release/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/ddr_debug/

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_bm/armgcc/CMakeFiles/
