
boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_rtos/armgcc/cmake_install.cmake

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_rtos/armgcc/CMakeFiles/rpmsg_lite_str_echo_rtos_imxcm7.elf.dir/cmake_clean.cmake

boards/som_mx8mn/multicore_examples/rpmsg_lite_str_echo_rtos/armgcc/CMakeFiles/
